<header>
    <h1>Let's Friggin Devour This Burger!</h1>
</header>

<div class="flexbox-container">

    <div class="flexLeft">
        <img src="https://images.ctfassets.net/oewsurrg31ok/7pUDQiQaaQiKoyUGF7AzBr/c0ab01e4bff4efec0e992717b208603a/2020_Burger_Black_and_Bleu.png?w=950&q=55" alt="">
        <h2>You better eat that burger!</h2>
        <ul class="uneaten">
            {{#each burger}}
            {{#unless devoured}}
            {{> burger/burger-block devoured=false}}
            {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div class="flexMid">
        <h2>CHOOSE YOUR VICTIMS!</h2>
        <form class="burgerInput">
            <input type="text" id="newBurger" name="burger_name">
            <button class="submit" id="burgerBtn">Add another burger!</button>
        </form>
    </div>

    <div class="flexRight">
        <img src="https://images.ctfassets.net/oewsurrg31ok/7pUDQiQaaQiKoyUGF7AzBr/c0ab01e4bff4efec0e992717b208603a/2020_Burger_Black_and_Bleu.png?w=950&q=55" alt="">
        <h2>Now, that's how you eat a burger!</h2>
        <ul class="eaten">
            {{#each burger}}
            {{#if devoured}}
            {{> burger/burger-block devoured=true}}
            {{/if}}
            {{/each}}
        </ul>
    </div>

</div>