<header>
    <h1>Let's Friggin Devour This Burger!</h1>
</header>

<div class="flexbox-container">

    <div>
        <img src="https://images.ctfassets.net/oewsurrg31ok/7pUDQiQaaQiKoyUGF7AzBr/c0ab01e4bff4efec0e992717b208603a/2020_Burger_Black_and_Bleu.png?w=950&q=55"
            alt="">
        <h2>You better eat that burger!</h2>
        <ul>
            <h2>Burgers to Devour</h2>
            {{#each burgers}}
            {{#unless devoured}}
            <li>
                <p>{{burger_name}}</p>
                <button class="devour" data-id="{{id}}">
                    Devour!
                </button>
            </li>
            {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div>
        <h2>CHOOSE YOUR VICTIMS!</h2>
        <form class="create-form">
            <div class="form-group">
                <input type="text" id="newBurger" name="name">
            </div>
            
            <button class="submit">Add another burger!</button>
        </form>
    </div>

    <div>
        <img src="https://images.ctfassets.net/oewsurrg31ok/7pUDQiQaaQiKoyUGF7AzBr/c0ab01e4bff4efec0e992717b208603a/2020_Burger_Black_and_Bleu.png?w=950&q=55"
            alt="">
        <h2>Now, that's how you eat a burger!</h2>
        <ul>
            <h2>Devoured Burgers</h2>
            {{#each burgers}}
            {{#if devoured}}
            <li>
                {{burger_name}}
                {{/if}}
            </li>
            {{/each}}
        </ul>
    </div>

</div>