body {
    background-color: #FF6347;
}

img {
    height: 237px;
    width: 316px;
}

h1 {
    text-align: center;
}

.flexbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

form {
    text-align: center;
}